<li class="contact" contact="{{login}}">
   <img src="{{photo}}" alt="{{login}}" class="contact__photo"/>
   <p class="contact__login">{{login}}</p>
   <p class="contact__text">{{message}}</p>
   <p class="contact__date">{{date}}</p>
   <div class="contact__unread">{{unread}}</div>
</li>
